* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

td {
    text-align: center;
}

/*Logo Green Generation */
.empresa {
    height: auto;
    max-width: 20%;
}

a {
    color: black;
    text-decoration: none;
}

p {
    padding: 40px 10%;
    text-align: center;
    opacity: 1;
    transform: translateY(30px);
    transition: 0.6s ease;
}

h1 {
    padding-top: 20px;
    padding: 0 20px;
    font-size: 20px;
    letter-spacing: 3px;
}

.texto1 p {
    color: pink;
    position: relative;
    top: 10px;
}

/* Letra*/
section p {
    font-size: 40px;
    max-width: 50px;
    margin: 0 auto;
    line-height: 1.8;
    color: #000000;
}

/*Transformando o futuro com sustentabilidade*/
header {
    color: pink;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

/*Estilo*/
header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #f9f9f9;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

/* Inovações que ajudam o planeta com soluções sustentáveis para a tecnologia.*/
header p {
    font-size: 10%;
    color: #eaf2f1;
    max-width: 90%;
    /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6); */
}

/* Transformando o Futuro com Sustentabilidade */
section h1 {
    font-size: 2.2rem;
    /* Título grande e responsivo */
    margin-bottom: 1rem;
    /* Espaço seguro abaixo */
    text-align: center;
    /* Centraliza o texto */
    padding: 0 1rem;
    /* Evita encostar nas bordas */
    word-wrap: break-word;
    /* Evita estouro em palavras grandes */
}

/* Inovações que ajudam o planeta com soluções sustentáveis para a tecnologia. POSIÇÃO */
section p {
    font-size: 1.3rem;
    margin: 0 auto;
}

section h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #3b4f2f;
    text-transform: uppercase;
}

/* Sobre a Green Generation posição */
section {
    padding: 10% 10%;
    text-align: center;
    opacity: 1;
    transform: translateY(30px);
    transition: 0.6s ease;
}
